---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro:assets';
import '@splidejs/splide/css';

interface Props {
  images: ImageMetadata[];
}

const { images } = Astro.props;
---

<div class='splide max-w-full md:max-w-3xl mx-auto'>
  <div class='splide__track'>
    <ul class='splide__list'>
      {images.map((img) => (
        <li class='splide__slide'>
          <Image
            src={img}
            alt=''
            width={800}
            height={400}
            class='rounded border-2 border-black w-full h-auto max-h-96 object-contain mx-auto'
          />
        </li>
      ))}
    </ul>
  </div>
</div>

<script>
  import Splide from '@splidejs/splide';

  const initCarousel = () => {
    document.querySelectorAll('.splide').forEach((el) => {
      new Splide(el, { type: 'loop', autoplay: true }).mount();
    });
  };

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initCarousel);
  } else {
    initCarousel();
  }
</script>
