---
import Layout from '@layouts/Default.astro';
---

<Layout title='Home' pageTitle='Home' description='How to reach Thomas Augustus Grice'>
  <main class='bg-blue p-6 flex flex-col items-center text-center'>
    <p class='poppins mt-2'>Software engineer, urbanist, creator</p>
    <p class='poppins mt-2 flex items-center gap-2'>
      <span class='i-uil-envelope w-4 h-4 inline-block'></span>
      <a href='mailto:augustus.grice@gmail.com'>augustus.grice@gmail.com</a>
    </p>

    <section class='mt-8'>
      <h3 class='text-2xl dm-serif'>Links</h3>
      <ul class='list-disc pl-4 poppins'>
        <li><a href='https://www.linkedin.com/in/thomas-grice/' target='_blank'>LinkedIn</a></li>
        <li><a href='https://urbancowboy.substack.com/' target='_blank'>Urban Cowboy Substack</a></li>
        <li><a href='https://www.youtube.com/@urbanxcowboy' target='_blank'>Urban Cowboy YouTube</a></li>
        <li><a href='https://www.instagram.com/urbanxcowboy' target='_blank'>Urban Cowboy Instagram</a></li>
        <li><a href='https://www.tiktok.com/@urbanxcowboy' target='_blank'>Urban Cowboy TikTok</a></li>
      </ul>
    </section>
  </main>
</Layout>
