---
import ProjectLayout from '@layouts/Project.astro';
import circlepop1 from '@assets/projects/circlepop1.png';
import circlepop2 from '@assets/projects/circlepop2.png';

const images = [circlepop1, circlepop2];
---

<ProjectLayout
  title='Circlepop'
  description='About Circlepop'
  images={images}
  mainClass='bg-blue p-6'
  href='https://example.com'
  linkText='Visit site \u2192'
>
  <p class='poppins mt-4'>This is a stub page for the Circlepop project. More information will be added later.</p>
</ProjectLayout>
